doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Chat App
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
  
  body   
    .topbar
      .top-left
        a.logo(href="/") 
          span.logo-text-inner Trope Chat
      .top-right
        if user
          span.user-info Velkommen #{user.userName} (niveau #{user.accessLevel})
          a(href="/logout") 
            i.fa-solid.fa-right-from-bracket
              Logout
        else
          a(href="/users/login") Login
    
      script.
         window.USER = !{JSON.stringify(user || null)};     

    block content

  
    script(src="/client/api.js")
    script( src="/client/app.js")